{% extends 'base.html.twig' %}

{% block body %}
    <h1 class="bienvenue pro mb-4 text-4xl font-extrabold leading-none tracking-tight text-gray-900 md:text-5xl lg:text-6xl dark:text-white">Contact
        :</h1>
    <h2 class="mb-6 text-lg font-normal text-gray-500 lg:text-xl sm:px-16 xl:px-48 dark:text-gray-400 text-center">Retrouvez nous sur Linkedin !</h2>
<div class="contact flex flex-row justify-center mt-8">
<div class="linkedin flex flex-row mt-8 ">
    <i class="fa-brands fa-linkedin fa-2xl mt-6 mr-8" style="color: #2083bd;"></i>
    <div class="class flex flex-col">
    <a href="https://www.linkedin.com/in/catherine-mathieu-88036383/">Catherine Mathieu</a>
    <a href="https://www.linkedin.com/in/brendan-le-bihan-53048977/">Brendan le Bihan</a>
    <a href="https://www.linkedin.com/in/tahina-foucher/">Tahina Foucher</a>
    </div>
</div>
</div>
    <h2 class="mb-6 text-lg font-normal text-gray-500 lg:text-xl sm:px-16 xl:px-48 dark:text-gray-400 text-center mt-8">Pour toute candidature de stage ou d'alternance contactez Catherine Mathieu !</h2>
{% endblock %}

{% block title %}
Contactez-nous !
{% endblock %}

