{% extends 'base.html.twig' %}



{% block title %}Sortir.com{% endblock %}

{% block body %}


    <h1 class="titre">Bienvenue !</h1>

    <div class="my-10 chatcss">
    <div class="chat chat-start  border-solid ">
        <div class="chat-bubble">On fait quoi après les cours ?<br/>On sort ?</div>
    </div>
    <div class="chat chat-end">
        <div class="chat-bubble">Mais on va où ?</div>
    </div>
    </div>

    <div class="presentation">
        <div>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Alias asperiores ea, error mollitia nisi officia
            quaerat ratione unde! Blanditiis consequatur dolore excepturi laborum nobis quibusdam repudiandae saepe
            tempore velit veniam!
        </div>
        <div>Aliquam commodi consequatur est ex expedita inventore iste odit repellendus sequi soluta? A fuga labore
            nemo vitae. Alias aperiam assumenda at cupiditate ea, eius hic nihil nisi nobis rerum unde!
        </div>
        <div>Amet assumenda culpa et eveniet id nihil nostrum odio, odit quaerat quas similique tempora tempore. Eveniet
            laudantium nostrum odio odit pariatur? A doloremque eos impedit nemo odio quasi quos sint.
        </div>
        <div>Accusamus asperiores aspernatur cumque ea ex facere hic, id ipsa itaque laudantium, minima natus officiis
            quae quas, quibusdam quidem reiciendis reprehenderit repudiandae saepe sequi similique sunt tenetur vero
            voluptates voluptatibus!
        </div>
        <div>Animi aspernatur at eaque fugiat labore libero necessitatibus, odio odit perferendis quae, saepe
            voluptatum. Autem dicta doloremque eum libero magni nisi, nobis nulla officia ratione repudiandae sunt
            suscipit temporibus, veniam?
        </div>
    </div>

<div class="icones">
    <div class="divIcones">
    <i class="fa-solid fa-list fa-2xl"></i>
        <p>Sorties</p>
    </div>
    <div class="divIcones">
    <i class="fa-solid fa-user fa-2xl"></i>
        <p>Se Connecter</p>
    </div>
        <div class="divIcones">
    <i class="fa-solid fa-user-plus fa-2xl"></i>
            <p>S'inscrire</p>
        </div>
</div>
{% endblock %}
