{% extends 'base.html.twig' %}



{% block title %}Sortir.com{% endblock %}

{% block body %}
    <div class="tw">
        <div class="tw">On fait quoi ce soir ? <br/>On sort ?</div>
    </div>
    <div class="tw">
        <div class="tw">Je sais pas ou aller ?</div>
    </div>

{% endblock %}
