{% extends 'base.html.twig' %}

{% block title %}Hello SortieController!{% endblock %}

{% block body %}

        {{ form(filtreForm) }}



    <div class="flex justify-center m-10">
        <a href="{{ path('sortie_creation') }}" class="bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded">Créer une sortie</a>
    </div>

    <div class="flex justify-center m-10">

        {% if nbAPublier is not null %}
        <a href="" class="bg-red-500 hover:bg-red-700 hover:text-white text-white font-bold py-2 px-4 rounded">
            {{ nbAPublier }} sorties à publier
        </a>
        {% endif %}

        {% if  nbAnnulees is not null %}
        <a href="" class="bg-red-500 hover:bg-red-700 hover:text-white text-white font-bold py-2 px-4 rounded">
            {{ nbAnnulees }} sortie(s) annulée(s) depuis votre dernière connexion
        </a>
        {% endif %}

    </div>

    <div class="conteneur grid grid-cols-1 lg:grid-cols-4 gap-4">
        {% for sortie in sorties %}
            {% if sortie.etat.statutNom == 'EN_CREATION'
                and  sortie.organisateur.pseudo == app.user.userIdentifier %}
                {% include 'sortie/templateListe.html.twig' %}
            {% endif %}
        {% endfor %}

    </div>


    <div id="sorties" class="conteneur grid grid-cols-1 lg:grid-cols-4 gap-4 ">

        {% for sortie in sorties %}
            {% if sortie.etat.statutNom == 'OUVERT'
                or sortie.etat.statutNom == 'CLOTURE'
                or sortie.etat.statutNom == 'EN_COURS'
                or sortie.etat.statutNom == 'PASSE' %}
                {% include 'sortie/templateListe.html.twig' %}
            {% endif %}
        {% endfor %}
    </div>

    {% block javascripts %}
    {% endblock %}

{% endblock %}