{% extends 'base.html.twig' %}

{% block body %}
    <div class="conteneur grid grid-cols-1 lg:grid-cols-4 gap-4 ">
        {% for sortie in sorties %}
            {% include 'sortie/templateListe.html.twig' %}
        {% endfor %}

    </div>
{% endblock %}

{% block title %}
    Sortie(s) Annulée(s)
{% endblock %}

