{% extends 'base.html.twig' %}

{% block body %}
{{ form_start(sortieForm) }}
{{ form_widget(sortieForm) }}
    <button name="clicked" value="supprimer" type="submit">supprimer</button>
    <button name="clicked" value="modifier" type="submit">modifier</button>
    {{ form_end(sortieForm) }}
{% endblock %}

{% block title %}

{% endblock %}

