@tailwind base;
@tailwind components;
@tailwind utilities;

//Palette de couleurs
$bleu: #5CAFE7;
$bleuClair: #82CEF9;
$blanc: #FBFBFB;
$jaune: #FFE361;
$rose: #FF679D;

.navBarSortir {
  background-color: $bleu;
  margin-bottom: 40px;

}


.nomId {
  font-size: 18px;
  font-weight: bold;
  color: white;
}

.liste {
  color: $rose;
}

.connecté {
  color: $rose;
}

.ulNav {
  background-color: $bleu;
}

.imgNav {
  width: 80px;
  margin-right: 20px;
}

.espace {
  margin-top: 160px;
}

.titre {
  @apply btn btn-ghost normal-case text-xl;

}

.tw {
  @apply chat chat-start chat-end chat-bubble
}

.container {
  display: flex;
  justify-content: center;
  width: 100vw;
  text-align: center;
  @apply mb-2 mt-2

}

form {
  @apply flex flex-col items-center bg-white shadow-md rounded px-8 pt-6 pb-8 mb-4
}

form label{
  @apply self-start mt-2
}

label {
  @apply block text-gray-700 text-sm font-bold mb-2;

}
#registration_form_inscription{
  @apply bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded mt-6
}

#profil_save{
  @apply bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded mt-6
}

#sortie_creer{
  @apply bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded mt-6
}
#creer_sortie{
  @apply bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded mt-6
}

.modification{
  @apply bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded mt-6
}

.radio {
  @apply w-4 h-4 text-blue-600 bg-gray-100 border-gray-300 focus:ring-blue-500 dark:focus:ring-blue-600 dark:ring-offset-gray-800 focus:ring-2 dark:bg-gray-700 dark:border-gray-600;
  display: flex;
  flex-direction: row;
}

input {
  @apply rounded shadow appearance-none border  w-full py-2 px-3 text-gray-700 leading-tight;

}

a {
  @apply inline-block align-baseline font-bold text-sm text-blue-500 hover:text-blue-800
}

.chatcss {

  background-color: $bleu;
  border-radius: 10px;
  margin-left: 10px;
  width: 600px;
  padding: 20px;
  margin-top: 70px;
}

.chat-bubble {
  background-color: white;
  color: $bleu;
  font-weight: bold;

}
.bgBlue{
  background-color: $bleu;
}

.presentation {
  background-color: $bleu;
  /*margin-left: 620px;*/
  margin-right: 10px;
  border-radius: 10px;
  padding: 20px;
  color: white;
  margin-top: 70px;

}

.imgIndex {
  margin-right: 10px;
  margin-left: 10px;
  border-radius: 10px;
  margin-top: 40px;
}

.imgConcert {
  border-radius: 10px;
}

.toutSortie {
  margin-top: 20px;
}

.passage:hover {
  background-color: #f1f1f1;
  cursor: pointer;
}

.icones {
  margin-top: 80px;
  height: 50px;
  display: flex;
  justify-content: space-evenly;
}

.icones i:hover {
  cursor: pointer;
  transform: scale(1.2);
}

.divIcones {
  height: 80px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
}

#nom {
  width: 20vw;
  border-radius: 10px;
  margin: 10px;
}

#site {
  display: flex;
  padding: 5px;
}

#site label {
  margin: 5px;
  margin-right: 30px;
}

#site input {
  margin-top: 7px;
}

.bienvenue {
  text-align: center;
}

.sortirTitre {
  color: black;
}

.slogan {
  text-align: center;
}

.contenuPage {
  position: relative;
  min-height: 100vh;
}

footer {


  bottom: 0;
  width: 100%;
  height: 2.5rem;

}

.footer {
  background-color: $bleu;
}

.textFooter {
  color: white;
}

.texteRose {
  color: $rose;
}

.texteNoir {
  color: black;
}
.texteJaune {
  color: $jaune;
}
.texteBleu {
  color: $bleu;
}

.contenuImg {
  margin: 40px;
  display: flex;
  justify-content: center;
}

.imageIndex {
  border-radius: 50px;
  margin-top: 40px;
}

.presIphone {
  display: flex;
  margin-top: 60px;
  margin-left: 40px;
  margin-right: 40px;

}

.descriptionMobile {


  background-color: $bleu;


}

.descriptionMobile p {
  text-align: center;
}

.textFin {
  margin-top: 100px;
  text-align: center;
}

.boutonFin {
  margin-top: 60px;
  display: flex;
  justify-content: center;

}


.profilParticipant{
  margin-bottom: 80px;
}

.participe{
  text-align: center;
  margin-bottom: 80px;
}

#filtre_site{
  @apply w-full flex flex-row justify-between mt-3 lg:w-1/4
}

#filtre_site_1{
  @apply mt-2
}

#filtre_site_2{
  @apply mt-2
}

#filtre_site_placeholder{
  @apply mt-2
}

#filtre_organisateur{
  @apply ml-6
}

#filtre_datePassee{
  @apply ml-6
}

#filtre_submit{
  @apply bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded
}

#filtre_nom{
  @apply lg:w-1/4
}

#filtre_dateHeureDebut{
  @apply lg:w-1/4
}

#filtre_dateHeureFin{
  @apply lg:w-1/4
}