<!DOCTYPE html>
<html data-theme="winter">
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}Sortir.com{% endblock %}</title>
        <link rel="icon" href="data:image/svg+xml,<svg xmlns=%22http://www.w3.org/2000/svg%22 viewBox=%220 0 128 128%22><text y=%221.2em%22 font-size=%2296%22>⚫️</text></svg>">

            {{ encore_entry_link_tags('app') }}





            {{ encore_entry_script_tags('app') }}

    </head>
    <body >
{#nav-bar#}
<div class="navbar bg-base-100">
    <div class="flex-1">
        <a class="btn btn-ghost normal-case text-xl">Sortir.com</a>
    </div>
    <div class="flex-none gap-2">

        <div class="dropdown dropdown-end">
            {% if   app.user  %}
                <label tabindex="0" class="btn btn-ghost btn-circle avatar">
                    <div class="w-10 rounded-full">
                        <img src="/images/stock/photo-1534528741775-53994a69daeb.jpg" />
                    </div>
                </label>
                <ul tabindex="0" class="mt-3 z-[1] p-2 shadow menu menu-sm dropdown-content bg-base-100 rounded-box w-52">
                    <li>
                        <a class="justify-between">
                            Profile
                            <span class="badge">New</span>
                        </a>
                    </li>
                    <li><a>Settings</a></li>
                    <li><a>Logout</a></li>
                </ul>
            {% endif %}
            {% if not app.user %}
                <div class="navbar-start">
                    <div class="dropdown">
                        <label tabindex="0" class="btn btn-ghost btn-circle">
                            <svg xmlns="http://www.w3.org/2000/svg" class="h-5 w-5" fill="none" viewBox="0 0 24 24" stroke="currentColor"><path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M4 6h16M4 12h16M4 18h7" /></svg>
                        </label>
                        <ul tabindex="0" class="menu menu-sm dropdown-content mt-3 z-[1] p-2 shadow bg-base-100 rounded-box w-52">
                            <li><a>Se connecter</a></li>
                            <li><a>Créer un compte</a></li>

                        </ul>
                    </div>
                </div>

            {% endif %}




        </div>
    </div>
</div>

        {% block body %}
        {% endblock %}


    </body>
</html>
