{% extends 'base.html.twig' %}

{% block body %}

    <h1 class="bienvenue mb-4 text-4xl font-extrabold leading-none tracking-tight text-gray-900 md:text-5xl lg:text-6xl dark:text-white">Oups ! Quelque chose est arrivé ...</h1>
    <div class="flex justify-center">
    <img src="https://risibank.fr/cache/medias/0/1/122/12241/full.png" alt="">
    </div>
    <div class="flex justify-center">
    <a href="{{ path('main_home') }}" class="text-2xl mt-6" >Sortir.com</a>
    </div>
{% endblock %}